*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #2c7be5;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container-login{
    width: 50%;
    height: 65vh;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
}

.image{
    width: 43%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/bg-login.webp");
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.form{
    width: 57%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.form-group{
    display: flex;
    flex-direction: column;
}

.form-group label{
    margin-bottom: 5px;
    font-size: 11pt;
}

.form-group:first-child{
    margin-bottom: 0px;
}


.form-control{
    width: 350px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #cccc;
    padding: 10px;
}

.bottom-submit{
    width: 350px;
    height: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #2c7be5ca;
    color: #ffffff;
    margin-top: 20px;
}

.bottom-submit:hover{
    background-color: #2c7be5;
    transition: 300ms;
}

span.require{
    color: #ff0000c0;
    font-weight: bolder;
}

.alert-error{
    font-size: 8pt;
    color: #ff0000c0;
    margin-top: 5px;
}

.error{
    width: 350px;
    height: 25px;
    background-color: #ff0000c0;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px 0 5px 0;
}

.error span{
    font-size: 10pt;
}

@media screen and (max-width: 1600px) {

    .container-login{
        width: 60%;
    }
}

@media screen and (max-width: 1230px) {

    .container-login{
        width: 70%;
    }
}